 .u-section-1 {
  background-image: url("images/d89f89373bdbf933a04ac5193e4219529efb8f843270ed79c43877af47f75b78e31e9c6812206cf5dd2500a711961f5d732e09387005f066dcc4e6_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-form-1 {
  height: 352px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 533px;
  margin: 63px auto 60px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}