.reportTabeli
{
    border: white solid 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.reportTabeli  tr
{
    border: white solid 5px;
}

.reportTabeli  th
{
    border: white solid 5px;
}

.reportTabeli  td
{
    border: white solid 5px;
}