<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${quizName}"></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<form method="post" action="/quizSolving">


    <div th:text="${question.getQuestiontext()}"></div>


        <input type="radio" name="selectedChoice"
                th:each="choice : ${choices}"
                th:text="${choice.getChoicetext()}"
                th:value="${choice.getChoiceid()}"
                /><br/>




    <input th:if="${lastQuestion==false}" type="submit" id="submitButton" th:value="Next" >
    <input th:if="${lastQuestion==true}" type="submit" id="finishButton" th:value="Finish" >
    <input type="reset" id="resetButton" name="reset" th:value="Clear"/>
</form>


</body>
</html>