<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${quizName}"></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div th:each="question : ${questions}">
    <div th:text="${question.getQuestiontext()}"></div>
    <div th:each="choice : ${choices}" th:if="${choice.getSelectionquestion().getQuestionid() == question.getQuestionid()}"
         th:text="${choice.getChoicetext()}"></div>
</div>

</body>
</html>