<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${quizName}"></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<form method="post" action="/quizResult" th:object="${selectedChoices}">
<div th:each="question : ${questions}">

    <div th:text="${question.getQuestiontext()}"></div>


        <input type="checkbox" th:each="choice : ${choices}"
                th:if="${choice.getSelectionquestion().getQuestionid() == question.getQuestionid()}"
                th:text="${choice.getChoicetext()}"
                th:name="${'choiceIds'}"
                th:value="${choice.getChoiceid()}"

                /><br/>

    <input type="hidden" th:value="${questionCount}" name="questionCount">

</div>
    <input type="submit" id="submitButton" th:value="Save" >
    <input type="reset" id="resetButton" name="reset" th:value="Clear"/>
</form>


</body>
</html>